<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sky City Chandigarh</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="js/script.js"></script>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>
<header>
  <div class="container">
  
    <div class="top-head">  
      <div class="row">      
        <div class="detail-top pull-left">
          <p><i class="fa fa-clock-o" aria-hidden="true"></i> Mon to Sun 10:00 - 19:00</p>
          <p><a href="#"><i class="fa fa-phone"></i>+91882 000 0085, 828 400 0085, 859 100 0085, 981 477 6101, 882 000 0085</a></p>
          <p><a href="#"><i class="fa fa-envelope-o"></i> info@skycity.com</a></p>
        </div>
      
        <div class="icon-top pull-right">
          <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>      
      </div><!--/ row -->
    </div><!--/ top-head -->

    <div class="low-bar">
      <div class="row">    
      
        <div class="col-sm-2 logo"><a href="/"><img src="static/images/logo.png" alt="Logo"></a></div>
      
        <div class="col-sm-10" id="cssmenu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li class="current-menu-item"><a href="/features">Features</a></li>
              <li><a href="/opportunities">Opportunities</a></li>
              <li><a href="/layout">Layout</a></li>
              <li><a href="/location">Location</a></li>
            </ul>
            
          <div class="search-box">
            <form><fieldset class="form-group"><input type="search" placeholder="search" value="" name="search"></fieldset></form>
           </div>            
        </div><!--/ cssmenu -->
      
      </div><!--/ row -->                                     
    </div><!--/ low-bar-->                  
    
  </div><!--/ container -->  
</header>   

<div class="banner-inner">
  <div class="textblock">
    <div class="block">
      <div class="container">
        <!-- breadcrumb -->
        <ol class="breadcrumb text-capitalize">
          <li> <a href="#"><span class="fa fa-home"></span>Home</a></li>
          <li><a href="#">Features</a></li>
        </ol>
        
        <!-- page title -->
        <div class="page-title">
          <div class="holder"><h1>Key Features</h1></div>
        </div><!--/ page-title -->
      
      </div><!--/ block -->
    </div>
  </div>
</div><!--/ banner-inner -->  

<div class="mid-wrap">
  <div class="container">
    <div class="row">
      
      <div class="features-wrap">
        <div class="row">
          
          <div class="col-sm-12 features-tl">
            <h2>What Makes SKY City A Hot Business Spot.</h2>
            <h3>First & Only Planned Market In The Heart Of Kharar</h3>
          </div>
          
          <div data-wow-delay="0.4s" class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <div class="award1">
                                    <h4>01</h4>
                                    <p>BUSTLING WALK IN BUSINESS ON NATIONAL HIGHWAY 21<br><br></p>
                                </div>
                            </div>
                            
                            <div data-wow-delay="0.4s" class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <div class="award2">
                                    <h4>02</h4>
                                    <p>REGULAR BUSINESS OF 4 LACS SOCIETY / COLONY RESIDENTS &amp; GROWING</p>
                                </div>
                            </div>
                            
                            
                            <div data-wow-delay="0.4s" class="col-sm-4 col-md-4 col-lg-4 wow fadeInRight animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                                <div class="award1">
                                    <h4>03</h4>
                                    <p>HIGH FOOTFALLS DUE TO IT BEING ONLY ORGANISED RETAIL MARKET IN KHARAR</p>
                                </div>
                            </div>
                            
                        </div>

                        


                      <div class="row">
                         <!--   <div class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft" data-wow-delay="0.4s">
                                <img src="img/company/image-1.jpg" class="img-responsive" alt="Image">
                            </div>-->
                            <div data-wow-delay="0.4s" class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <div class="award2">
                                    <h4>04</h4>
                                    <p>MORE THAN 50 RESIDENTIAL SOCIETIES AROUND<br></p>
                                </div>
                            </div>
                            
                            <div data-wow-delay="0.4s" class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <div class="award1">
                                    <h4>05</h4>
                                    <p> 7 BIG COLLEGES HAVING MORE THAN 50000 STUDENTS<br></p>
                                </div>
                            </div>
                            
                            
                            <div data-wow-delay="0.4s" class="col-sm-4 col-md-4 col-lg-4 wow fadeInRight animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                                <div class="award2">
                                    <h4>06</h4>
                                    <p>UPCOMING KHARAR'S 1st 4 STAR HOTEL COUNTRY-INN &amp; SUITES</p>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                        <div class="row">
                         <!--   <div class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft" data-wow-delay="0.4s">
                                <img src="img/company/image-1.jpg" class="img-responsive" alt="Image">
                            </div>-->
                            <div data-wow-delay="0.4s" class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <div class="award1">
                                    <h4>07</h4>
                                    <p> RETAIL PLAZA SPREAD ON 4 FLOORS (G+3 &amp; BASEMENT<br><br></p>
                                </div>
                            </div>
                            
                            <div data-wow-delay="0.4s" class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <div class="award2">
                                    <h4>08</h4>
                                    <p>ATTRACTIVE <br>FRONTAGE OF OVER 500 FEET<br><br></p>
                                </div>
                            </div>
                            
                            
                            <div data-wow-delay="0.4s" class="col-sm-4 col-md-4 col-lg-4 wow fadeInRight animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                                <div class="award1">
                                    <h4>09</h4>
                                    <p>SPREAD OVER 8 ACRES SURROUNDED WITH LANDSCAPED GREENS &amp; KIDS PLAY AREA</p>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                        
                        <div class="row">
                         <!--   <div class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft" data-wow-delay="0.4s">
                                <img src="img/company/image-1.jpg" class="img-responsive" alt="Image">
                            </div>-->
                            <div data-wow-delay="0.4s" class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <div class="award2">
                                    <h4>10</h4>
                                    <p> AMPLE PARKING FOR MORE THAN 1000 CARS<br><br><br>
</p>
                                </div>
                            </div>
                            
                            <div data-wow-delay="0.4s" class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <div class="award1">
                                    <h4>11</h4>
                                    <p>EASY LOANS FACILITY AVAILABLE FROM ALL LEADING BANKS<br><br></p>
                                </div>
                            </div>
                            
                            
                            <div data-wow-delay="0.4s" class="col-sm-4 col-md-4 col-lg-4 wow fadeInRight animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                                <div class="award2">
                                    <h4>12</h4>
                                    <p>PROPERTY APPRECIATION WITH 12.5% P.A. ASSURED RENTALS</p>
                                </div>
                            </div>
                            
                        </div>  

                    </div>
        
      
    </div><!--/ row -->
  </div><!--/ container -->
</div><!--/ mid-wrap -->

<footer>
  <div class="container">
    <div class="row">
      
        <div class="col-sm-3">
          <div class="wg-1">
            <h4>Useful Links</h4>
            <ul class="ft-links">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/features">Features</a></li>
              <li><a href="/opportunities">Opportunities</a></li>
              <li><a href="/layout">Layout</a></li>
              <li><a href="/location">Location</a></li>
            </ul>
          </div><!--/ wg-1 -->
        </div>  
        
        <div class="col-sm-3">
          <div class="wg-1">
            <h4>Get In Touch</h4>
            <address><span><i aria-hidden="true" class="fa fa-map-marker"></i></span> SkyCity, NH-21, Chandigarh-Kharar Highway, Opp. Bank Square, Kharar, Mohali.</address>
            <address><span><i aria-hidden="true" class="fa fa-phone"></i></span>+91882 000 0085, 828 400 0085, 859 100 0085, 981 477 6101, 882 000 0085</address>
            <address><span><i class="fa fa-envelope"></i></span>info@skycity.com</address>
          </div><!--/ wg-1 -->
        </div>                                                               
        
        <div class="col-sm-6">
          <div class="wg-1">
            <h4>Contact Us Fields</h4>
              <form class="row">
                <div class="col-sm-6">
                  <div class="form-group"><input type="text" class="form-control" placeholder="Your Name:"></div>
                  <div class="form-group"><input type="email" class="form-control" placeholder="Your Email:"></div>
                  <div class="form-group"><input type="tel" class="form-control" placeholder="Your Phone:"></div>
                </div>
                
                <div class="col-sm-6 form-group">
                  <div class="form-group"><textarea class="form-control">Your Message:</textarea></div>
                  <div class="form-group"><input type="submit" name="Submit" value="Submit"></div>
                </div>
                
              </form>                          
          </div><!--/ wg-1 -->
        </div>                
         
      </div><!-- row -->            
  </div><!--/ container -->     
  
  <div class="ft-bottom">
    <div class="container">
      <div class="row">
     
        <div class="col-sm-6"><p>Copyright &copy; 2016 <a href="#">Sky City Chandigarh</a> | All Rights Reserved</p></div>       
        <div class="col-sm-6 text-right"><p>Website Design By : <a href="http://htlogics.com/" target="_blank">H T Logics Pvt. Ltd.</a></p></div>        
        
      </div><!--/ row -->
    </div>
  </div><!-- ft-bottom -->                     
</footer>
  
  
    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>
</html>
