<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sky City Chandigarh</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="js/script.js"></script>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>
<header>
  <div class="container">
  
    <div class="top-head">  
      <div class="row">      
        <div class="detail-top pull-left">
          <p><i class="fa fa-clock-o" aria-hidden="true"></i> Mon to Sun 10:00 - 19:00</p>
          <p><a href="#"><i class="fa fa-phone"></i>+91882 000 0085, 828 400 0085, 859 100 0085, 981 477 6101, 882 000 0085</a></p>
          <p><a href="#"><i class="fa fa-envelope-o"></i> info@skycity.com</a></p>
        </div>
      
        <div class="icon-top pull-right">
          <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>      
      </div><!--/ row -->
    </div><!--/ top-head -->

    <div class="low-bar">
      <div class="row">    
      
        <div class="col-sm-2 logo"><a href="/"><img src="static/images/logo.png" alt="Logo"></a></div>
      
        <div class="col-sm-10" id="cssmenu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/features">Features</a></li>
              <li class="current-menu-item"><a href="/opportunities">Opportunities</a></li>
              <li><a href="/layout">Layout</a></li>
              <li><a href="/location">Location</a></li>
            </ul>
            
          <div class="search-box">
            <form><fieldset class="form-group"><input type="search" placeholder="search" value="" name="search"></fieldset></form>
           </div>            
        </div><!--/ cssmenu -->
      
      </div><!--/ row -->                                     
    </div><!--/ low-bar-->                  
    
  </div><!--/ container -->  
</header>   

<div class="banner-inner">
  <div class="textblock">
    <div class="block">
      <div class="container">
        <!-- breadcrumb -->
        <ol class="breadcrumb text-capitalize">
          <li> <a href="#"><span class="fa fa-home"></span>Home</a></li>
          <li><a href="#">Opportunities</a></li>
        </ol>
        
        <!-- page title -->
        <div class="page-title">
          <div class="holder"><h1>Opportunities</h1></div>
        </div><!--/ page-title -->
      
      </div><!--/ block -->
    </div>
  </div>
</div><!--/ banner-inner -->  

<div class="mid-wrap">
  <div class="container">
    <div class="row">
      
       <div class="col-sm-12 opportunities-wrap">
         <h2>Business Opportunities</h2>
         <h3>4 Floor That Hold Endless Possibilities</h3>
         
         <div class="row">
           <div class="col-sm-6">
             <div class="opp-text">
               <h4>FASHION STORES</h4><p>Fashion has become a lifestyle need today and SKYCITY oers the perfect ambience for a prolific fashion odyssey. Whatever be the trend of the moment, fashionable outlets stick the latest global fad, at SKYCITY in the center of Kharar's shopping pulse.</p>
             </div>
           </div><!--/ col-sm-6 -->
           
           <div class="col-sm-6">             
             <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
               
               <!-- Indicators -->
               <ol class="carousel-indicators">
                 <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
                 <li data-slide-to="1" data-target="#carousel-example-generic" class=""></li>
               </ol>
               
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                 <div class="item active"><img src="static/images/img-06.jpg" alt="Logo"></div>
                 <div class="item"><img src="static/images/img-06.jpg" alt="Logo"></div>
               </div>
               
               <!-- Controls -->
               <a data-slide="prev" role="button" href="#carousel-example-generic" class="left carousel-control hidden"><span class="glyphicon glyphicon-chevron-left"></span></a>
               <a data-slide="next" role="button" href="#carousel-example-generic" class="right carousel-control hidden"><span class="glyphicon glyphicon-chevron-right"></span></a>
               </div><!--/ slide -->
             </div><!--/ col-sm-6 -->
         </div><!--/ row -->                  
         
         <div class="row">
           <div class="col-sm-6">             
             <div data-ride="carousel" class="carousel slide" id="carousel-example-generic-7">
               
               <!-- Indicators -->
               <ol class="carousel-indicators">
                 <li class="active" data-slide-to="0" data-target="#carousel-example-generic-7"></li>
                 <li data-slide-to="1" data-target="#carousel-example-generic-7" class=""></li>
               </ol>
               
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                 <div class="item active"><img src="static/images/img-07.jpg" alt="Logo"></div>
                 <div class="item"><img src="static/images/img-07.jpg" alt="Logo"></div>
               </div>
               
               <!-- Controls -->
               <a data-slide="prev" role="button" href="#carousel-example-generic-7" class="left carousel-control hidden"><span class="glyphicon glyphicon-chevron-left"></span></a>
               <a data-slide="next" role="button" href="#carousel-example-generic-7" class="right carousel-control hidden"><span class="glyphicon glyphicon-chevron-right"></span></a>
               </div><!--/ slide -->
             </div><!--/ col-sm-6 -->
                    
           <div class="col-sm-6">
             <div class="opp-text">
               <h4>SMALL OFFICES</h4><p>The more elite and special the business, the more it requires a congenial and unique atmosphere where the individualized aspect can be celebrated and elaborated. SKYCITY has 4 floors of options where you can find the perfect vantage point that is as versatile, dynamic and elegant as you are…</p>
             </div>
           </div><!--/ col-sm-6 -->          
         </div><!--/ row -->
         
         <div class="row">
           <div class="col-sm-6">
             <div class="opp-text">
               <h4>BANKS & ATM'S</h4><p>No one carries money any more- All businesses run on plastic… but still financial institutions and services like Banks and ATM's will never go out of functionality. SKYCITY has the ideal platform for banks and other financial instrument services where all urgent financial requirements can be answered with convenience, security and comfort.</p>
             </div>
           </div><!--/ col-sm-6 -->
           
           <div class="col-sm-6">             
             <div data-ride="carousel" class="carousel slide" id="carousel-example-generic-8">
               
               <!-- Indicators -->
               <ol class="carousel-indicators">
                 <li class="active" data-slide-to="0" data-target="#carousel-example-generic-8"></li>
                 <li data-slide-to="1" data-target="#carousel-example-generic-8" class=""></li>
               </ol>
               
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                 <div class="item active"><img src="static/images/img-08.jpg" alt="Logo"></div>
                 <div class="item"><img src="static/images/img-08.jpg" alt="Logo"></div>
               </div>
               
               <!-- Controls -->
               <a data-slide="prev" role="button" href="#carousel-example-generic-8" class="left carousel-control hidden"><span class="glyphicon glyphicon-chevron-left"></span></a>
               <a data-slide="next" role="button" href="#carousel-example-generic-8" class="right carousel-control hidden"><span class="glyphicon glyphicon-chevron-right"></span></a>
               </div><!--/ slide -->
             </div><!--/ col-sm-6 -->
         </div><!--/ row -->                  
         
         <div class="row">
           <div class="col-sm-6">             
             <div data-ride="carousel" class="carousel slide" id="carousel-example-generic-9">
               
               <!-- Indicators -->
               <ol class="carousel-indicators">
                 <li class="active" data-slide-to="0" data-target="#carousel-example-generic-9"></li>
                 <li data-slide-to="1" data-target="#carousel-example-generic-9" class=""></li>
               </ol>
               
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                 <div class="item active"><img src="static/images/img-09.jpg" alt="Logo"></div>
                 <div class="item"><img src="static/images/img-09.jpg" alt="Logo"></div>
               </div>
               
               <!-- Controls -->
               <a data-slide="prev" role="button" href="#carousel-example-generic-9" class="left carousel-control hidden"><span class="glyphicon glyphicon-chevron-left"></span></a>
               <a data-slide="next" role="button" href="#carousel-example-generic-9" class="right carousel-control hidden"><span class="glyphicon glyphicon-chevron-right"></span></a>
               </div><!--/ slide -->
             </div><!--/ col-sm-6 -->
                    
           <div class="col-sm-6">
             <div class="opp-text">
               <h4>BAKERY & CAFE'S</h4><p>Nowhere does a cup of coee or a sandwich taste as good as it does at a fabulously located café where one can sit back and sip, while watching the world go by about its business. SKYCITY has heartwarming places where one can meet friends, indulge in treats and celebrate family occasions.</p>
             </div>
           </div><!--/ col-sm-6 -->          
         </div><!--/ row -->
         
         <div class="row">
           <div class="col-sm-6">
             <div class="opp-text">
               <h4>JEWELLERY STORES</h4><p>Just like a jewel needs a great setting in order to shine, a jewellery showroom also requires the right location that is sophisticated, grandiose and secure. SKYCITY offers just the right ambience and elite footfalls that jewellery showrooms require in order to shine</p>
             </div>
           </div><!--/ col-sm-6 -->
           
           <div class="col-sm-6">             
             <div data-ride="carousel" class="carousel slide" id="carousel-example-generic-10">
               
               <!-- Indicators -->
               <ol class="carousel-indicators">
                 <li class="active" data-slide-to="0" data-target="#carousel-example-generic-10"></li>
                 <li data-slide-to="1" data-target="#carousel-example-generic-10" class=""></li>
               </ol>
               
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                 <div class="item active"><img src="static/images/img-010.jpg" alt="Logo"></div>
                 <div class="item"><img src="static/images/img-010.jpg" alt="Logo"></div>
               </div>
               
               <!-- Controls -->
               <a data-slide="prev" role="button" href="#carousel-example-generic-10" class="left carousel-control hidden"><span class="glyphicon glyphicon-chevron-left"></span></a>
               <a data-slide="next" role="button" href="#carousel-example-generic-10" class="right carousel-control hidden"><span class="glyphicon glyphicon-chevron-right"></span></a>
               </div><!--/ slide -->
             </div><!--/ col-sm-6 -->
         </div><!--/ row -->                  
         
         <div class="row">
           <div class="col-sm-6">             
             <div data-ride="carousel" class="carousel slide" id="carousel-example-generic-11">
               
               <!-- Indicators -->
               <ol class="carousel-indicators">
                 <li class="active" data-slide-to="0" data-target="#carousel-example-generic-11"></li>
                 <li data-slide-to="1" data-target="#carousel-example-generic-11" class=""></li>
               </ol>
               
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                 <div class="item active"><img src="static/images/img-011.jpg" alt="Logo"></div>
                 <div class="item"><img src="static/images/img-011.jpg" alt="Logo"></div>
               </div>
               
               <!-- Controls -->
               <a data-slide="prev" role="button" href="#carousel-example-generic-11" class="left carousel-control hidden"><span class="glyphicon glyphicon-chevron-left"></span></a>
               <a data-slide="next" role="button" href="#carousel-example-generic-11" class="right carousel-control hidden"><span class="glyphicon glyphicon-chevron-right"></span></a>
               </div><!--/ slide -->
             </div><!--/ col-sm-6 -->
                    
           <div class="col-sm-6">
             <div class="opp-text">
               <h4>HARDWARE & SANITARY</h4><p>Any home, oce or for that matter, any building, has to include hardware. A staple requirement, a hardware store it is of critical importance in a growing city such as Mohali and Kharar, making SKYCITY the right location to have it in…</p>
             </div>
           </div><!--/ col-sm-6 -->          
         </div><!--/ row -->
         
         <div class="row">
           <div class="col-sm-6">
             <div class="opp-text">
               <h4>MOBILE & ELECTRONICS</h4><p>The whole world today is hooked onto their electronic devices. These have become an essential home and individual accessory, and a style statement. SKYCITY's stylish environment offers just the right façade for a mobile and electronics showroom.</p>
             </div>
           </div><!--/ col-sm-6 -->
           
           <div class="col-sm-6">             
             <div data-ride="carousel" class="carousel slide" id="carousel-example-generic-12">
               
               <!-- Indicators -->
               <ol class="carousel-indicators">
                 <li class="active" data-slide-to="0" data-target="#carousel-example-generic-12"></li>
                 <li data-slide-to="1" data-target="#carousel-example-generic-12" class=""></li>
               </ol>
               
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                 <div class="item active"><img src="static/images/img-012.jpg" alt="Logo"></div>
                 <div class="item"><img src="static/images/img-012.jpg" alt="Logo"></div>
               </div>
               
               <!-- Controls -->
               <a data-slide="prev" role="button" href="#carousel-example-generic-12" class="left carousel-control hidden"><span class="glyphicon glyphicon-chevron-left"></span></a>
               <a data-slide="next" role="button" href="#carousel-example-generic-12" class="right carousel-control hidden"><span class="glyphicon glyphicon-chevron-right"></span></a>
               </div><!--/ slide -->
             </div><!--/ col-sm-6 -->
         </div><!--/ row -->                  
         
         <div class="row">
           <div class="col-sm-6">             
             <div data-ride="carousel" class="carousel slide" id="carousel-example-generic-13">
               
               <!-- Indicators -->
               <ol class="carousel-indicators">
                 <li class="active" data-slide-to="0" data-target="#carousel-example-generic-13"></li>
                 <li data-slide-to="1" data-target="#carousel-example-generic-13" class=""></li>
               </ol>
               
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                 <div class="item active"><img src="static/images/img-013.jpg" alt="Logo"></div>
                 <div class="item"><img src="static/images/img-013.jpg" alt="Logo"></div>
               </div>
               
               <!-- Controls -->
               <a data-slide="prev" role="button" href="#carousel-example-generic-13" class="left carousel-control hidden"><span class="glyphicon glyphicon-chevron-left"></span></a>
               <a data-slide="next" role="button" href="#carousel-example-generic-13" class="right carousel-control hidden"><span class="glyphicon glyphicon-chevron-right"></span></a>
               </div><!--/ slide -->
             </div><!--/ col-sm-6 -->
                    
           <div class="col-sm-6">
             <div class="opp-text">
               <h4>MEDICAL CLINICS</h4><p>It's wise to have a doctor at a stone's throw away, and SKYCITY, by virtue of being centrally and conveniently located is the perfect place to host a doctor, wellness and medical practitioner's clinic.</p>
             </div>
           </div><!--/ col-sm-6 -->          
         </div><!--/ row -->
         
         <div class="row">
           <div class="col-sm-6">
             <div class="opp-text">
               <h4>SPA'S & SALONS</h4><p>The needs of salons are quite specific- and SKYCITY provides the ideal ambience, stylish atmosphere, convenient amenities such as ample parking, attached washrooms and water outlets, privacy and security that is needed for salons to flourish and prosper.
</p>
             </div>
           </div><!--/ col-sm-6 -->
           
           <div class="col-sm-6">             
             <div data-ride="carousel" class="carousel slide" id="carousel-example-generic-14">
               
               <!-- Indicators -->
               <ol class="carousel-indicators">
                 <li class="active" data-slide-to="0" data-target="#carousel-example-generic-14"></li>
                 <li data-slide-to="1" data-target="#carousel-example-generic-14" class=""></li>
               </ol>
               
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                 <div class="item active"><img src="static/images/img-014.jpg" alt="Logo"></div>
                 <div class="item"><img src="static/images/img-014.jpg" alt="Logo"></div>
               </div>
               
               <!-- Controls -->
               <a data-slide="prev" role="button" href="#carousel-example-generic-14" class="left carousel-control hidden"><span class="glyphicon glyphicon-chevron-left"></span></a>
               <a data-slide="next" role="button" href="#carousel-example-generic-14" class="right carousel-control hidden"><span class="glyphicon glyphicon-chevron-right"></span></a>
               </div><!--/ slide -->
             </div><!--/ col-sm-6 -->
         </div><!--/ row -->                  
         
         <div class="row">
           <div class="col-sm-6">             
             <div data-ride="carousel" class="carousel slide" id="carousel-example-generic-15">
               
               <!-- Indicators -->
               <ol class="carousel-indicators">
                 <li class="active" data-slide-to="0" data-target="#carousel-example-generic-15"></li>
                 <li data-slide-to="1" data-target="#carousel-example-generic-15" class=""></li>
               </ol>
               
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                 <div class="item active"><img src="static/images/img-015.jpg" alt="Logo"></div>
                 <div class="item"><img src="static/images/img-015.jpg" alt="Logo"></div>
               </div>
               
               <!-- Controls -->
               <a data-slide="prev" role="button" href="#carousel-example-generic-15" class="left carousel-control hidden"><span class="glyphicon glyphicon-chevron-left"></span></a>
               <a data-slide="next" role="button" href="#carousel-example-generic-15" class="right carousel-control hidden"><span class="glyphicon glyphicon-chevron-right"></span></a>
               </div><!--/ slide -->
             </div><!--/ col-sm-6 -->
                    
           <div class="col-sm-6">
             <div class="opp-text">
               <h4>GYM'S & HEALTH CLUBS</h4><p>There can be no better place to sweat out the strains of daily life and stay in prime shape that a gym and fitness studio located at the heart of the town. Unlimited quantities of fresh air, natural light and sweeping panoramic views make SKYCITY the perfect location for fitness studios.</p>
             </div>
           </div><!--/ col-sm-6 -->          
         </div><!--/ row -->                  
       
       </div><!--/ opportunities-wrap -->      
        
      
    </div><!--/ row -->
  </div><!--/ container -->
</div><!--/ mid-wrap -->

<footer>
  <div class="container">
    <div class="row">
      
        <div class="col-sm-3">
          <div class="wg-1">
            <h4>Useful Links</h4>
            <ul class="ft-links">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/features">Features</a></li>
              <li><a href="/opportunities">Opportunities</a></li>
              <li><a href="/layout">Layout</a></li>
              <li><a href="/location">Location</a></li>
            </ul>
          </div><!--/ wg-1 -->
        </div>  
        
        <div class="col-sm-3">
          <div class="wg-1">
            <h4>Get In Touch</h4>
            <address><span><i aria-hidden="true" class="fa fa-map-marker"></i></span> SkyCity, NH-21, Chandigarh-Kharar Highway, Opp. Bank Square, Kharar, Mohali.</address>
            <address><span><i aria-hidden="true" class="fa fa-phone"></i></span>+91882 000 0085, 828 400 0085, 859 100 0085, 981 477 6101, 882 000 0085</address>
            <address><span><i class="fa fa-envelope"></i></span>info@skycity.com</address>
          </div><!--/ wg-1 -->
        </div>                                                               
        
        <div class="col-sm-6">
          <div class="wg-1">
            <h4>Contact Us Fields</h4>
              <form class="row">
                <div class="col-sm-6">
                  <div class="form-group"><input type="text" class="form-control" placeholder="Your Name:"></div>
                  <div class="form-group"><input type="email" class="form-control" placeholder="Your Email:"></div>
                  <div class="form-group"><input type="tel" class="form-control" placeholder="Your Phone:"></div>
                </div>
                
                <div class="col-sm-6 form-group">
                  <div class="form-group"><textarea class="form-control">Your Message:</textarea></div>
                  <div class="form-group"><input type="submit" name="Submit" value="Submit"></div>
                </div>
                
              </form>                          
          </div><!--/ wg-1 -->
        </div>                
         
      </div><!-- row -->            
  </div><!--/ container -->     
  
  <div class="ft-bottom">
    <div class="container">
      <div class="row">
     
        <div class="col-sm-6"><p>Copyright &copy; 2016 <a href="#">Sky City Chandigarh</a> | All Rights Reserved</p></div>       
        <div class="col-sm-6 text-right"><p>Website Design By : <a href="http://htlogics.com/" target="_blank">H T Logics Pvt. Ltd.</a></p></div>        
        
      </div><!--/ row -->
    </div>
  </div><!-- ft-bottom -->                     
</footer>
  
  
    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>
</html>
